<h1 class="text-center">XmltoSvg Prototype</h1>
<div class="row mt-3 ml-2 m-0">
    <div class="col">
        <h3>Opciones: </h3>
    </div>
    <div class="col">
        <input #algoBasico type='file' class="btn btn-success" accept='text/xml' onchange='openFile(event)'>
    </div>
    <div class="col">
        <button class="btn btn-success" (click)="onClick()"> Crear SVG</button>
    </div>
</div>
<br>


<div class="row m-0 mx-1">
    <div class="col-4">
        <h4>XML:</h4>
        <textarea id="xmlArea" cols="40" rows="10">
            Seleccione archivo...                        
        </textarea>
    </div>
    <div class="col-4">
        <h4>JSON:</h4>
        <textarea #jsonFeature
          		  id="jsonArea"
          		  cols="40"
          		  rows="10">  		  	
	  	</textarea>
    </div>
    <div class="col-4">
        <h4>Datos importantes:</h4>
        <textarea id="jsonArea2" cols="40" rows="10"></textarea>
    </div>
</div>
<div class="row m-0">
    <div class="col text-center" id="svgdiv">
        <div id="svgcanvas"></div>
    </div>
</div>

<div>
	<mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
	    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <!--<mat-checkbox class="checklist-leaf-node"
                        [checked]="checklistSelection.isSelected(node)">{{node.item}}</mat-checkbox>-->
            <mat-checkbox class="checklist-leaf-node"
                        [disabled]="deshabilitarMandatory(node)"
                        [checked]="checklistSelection.isSelected(node)"
                        (change)="seleccionarNodo(node)">{{node.item}}
            </mat-checkbox>
        </mat-tree-node>

	    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
	    
            <!--<mat-checkbox [checked]="descendantsAllSelected(node)">{{node.item}}</mat-checkbox>-->
            <mat-checkbox *ngIf="node.level !== 0"
                        [disabled]="deshabilitarMandatory(node)"
                        [checked]="checklistSelection.isSelected(node)"
                        [indeterminate]="validacionInicial(0)"
                        (change)="seleccionarNodo(node)">{{node.item}}</mat-checkbox>
            <span *ngIf="node.level === 0">{{node.item}}</span>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            </button>
        </mat-tree-node>
	</mat-tree>


    <button class="btn btn-success" (click)="obtenerJSON()">Crear JSON</button>
    <div>
        {{jsonReglas | json}}
    </div>
</div>
<router-outlet></router-outlet>